body {
    background: white;
    font-family: sans-serif;
    margin: 0;
    padding: 0;
}
h1, h6 {
    margin: 0;
    font-weight: normal;
}
div#container {
    min-height: 400px;
    border: 1px solid gray;
    background: lightgrey;
    max-width: 1002px;
    min-width: 750px;
    margin: auto;
    overflow: hidden;
}
div#first-column,
div#third-column {
    width: 200px;
    border: 1px solid gray;
    background: rgb(240, 240, 240);
    min-height: 392px;
}
div#first-column {
    float: left;
    margin-left: -205px;
}
div#third-column {
    float: right;
    margin-right: -205px;
}
div#content {
    margin: 3px 208px 3px 208px;
}
div#content-inner {
    background: rgb(240, 240, 240);
    border: 1px solid gray;
    min-height: 392px;
}
div#header,
div#footer {
    background: rgb(240, 240, 240);
    padding: 3px;
    border: 1px solid gray;
    max-width: 994px;
    min-width: 744px;
    margin: auto;
}
div#header {
    border-bottom: none;
}
div#footer {
    border-top: none;
}